.modal-video {
  height: 99%;
  border-radius: 20px;
}

.modal-content-body {
  height: 75%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.modal-content-body p {
}

.modal-text-content {
  display: flex;
  flex-direction: column;
  width: 65%;
  justify-content: space-between;
  height: 70%;
}

.modal-button-row {
  display: flex;
  justify-content: center;
}

.mobile-video-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 96%;
  width: 29%;
  border: 6px solid black;
  border-radius: 24px;
}
