.backdrop {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #000000e1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: clamp(50%, 700px, 90%);
  height: min(70%, 400px);
  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 11;
  background-color: var(--opposite);
}

.backdrop h1 {
  color: var(--background);
}

.tags {
  gap: 5%;
  display: flex;
  flex-direction: row;
}

.react-tag,
.html-tag,
.css-tag {
  height: 100%;
  margin: 0 5px 0 5px;
  padding: 5px 5px 5px 5px;
  border-radius: 6px;
  font-weight: 600;
}

.react-tag {
  background-color: blue;
  color: white;
}

.html-tag {
  background-color: orange;
}

.css-tag {
  background-color: lightskyblue;
}
