:root {
  --background: #373042;
  --highlight: #46ffff;
  --secondary: #ff45d8;
}

body {
  background-color: var(--background);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: var(--background);
  min-height: 100vh;
}
